{% extends 'base.html.twig' %}

{% block body %}
<h1 style="color: #007bff;">Table Questions</h1>

    <form action="{{ path('app_question_ass_search') }}" method="GET">
        <label for="typeQAss">Type Question:</label>
        <input type="text" name="typeQAss" value="{{ app.request.query.get('typeQAss') }}">

        <label for="sort">Sort by:</label>
        <select name="sort">
            <option value="idQAss" {% if app.request.query.get('sort') == 'idQAss' %}selected{% endif %}>Id</option>
            <option value="typeQAss" {% if app.request.query.get('sort') == 'typeQAss' %}selected{% endif %}>Type Question</option>
            <option value="descriptionQAss" {% if app.request.query.get('sort') == 'descriptionQAss' %}selected{% endif %}>Description Question</option>
        </select>

        <label for="direction">Direction:</label>
        <select name="direction">
            <option value="ASC" {% if app.request.query.get('direction') == 'ASC' %}selected{% endif %}>Ascending</option>
            <option value="DESC" {% if app.request.query.get('direction') == 'DESC' %}selected{% endif %}>Descending</option>
        </select>

        <button type="submit">Search</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Type Question</th>
                <th>Description Question</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question_ass in question_asses %}
            <tr>
                <td>{{ question_ass.idQAss }}</td>
                <td>{{ question_ass.typeQAss }}</td>
                <td>{{ question_ass.descriptionQAss }}</td>
                <td>
                    <a href="{{ path('app_question_ass_show', {'idQAss': question_ass.idQAss}) }}">show</a>
                    <a href="{{ path('app_question_ass_edit', {'idQAss': question_ass.idQAss}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
