{{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'class': 'my-form'}) }}
    <div class="form-group">
        {{ form_label(form.typeRepAss, 'Type de reponse') }}
        {{ form_widget(form.typeRepAss, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.typeRepAss) }}
    </div>

    <div class="form-group">
        {{ form_label(form.queRepAss, 'Question correspondante') }}
        {{ form_widget(form.queRepAss, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.queRepAss) }}
    </div>

    <div class="form-group">
        {{ form_label(form.descriptionRepAss, 'Description de la reponse') }}
        {{ form_widget(form.descriptionRepAss, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.descriptionRepAss) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
