{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    {# Display validation errors for the 'queRepAss' field #}
    {{ form_errors(form.queRepAss) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
