<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{{asset('css/style.css.css')}}">
    <link rel="stylesheet" href="{{asset('css/game.css')}}">
    <title>Compte à rebours</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style type="text/css">
        #countdown {
            font-size: 80px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="countdown"></div>

<script type="text/javascript">
    let ready = $(document).ready(function() {
        var count = 30;
        var countdown = setInterval(function () {
            $("#countdown").html(count);
            if (count == 0) {
                clearInterval(countdown);
                alert("Temps écoulé !");
                currentQuestion++;

            }
            count--;
        }, 1000);
    });
</script>

<div class="container" >
    <div id="game" class="justify-center flex-column">
        <div id="hud">
            <div class="hud-item">
                <p id="progressText" class="hud-prefix">
                    Question
                </p>
                <div id="progressBar">
                    <div id="progressBarFull"></div>
                </div>
            </div>
            <div class="hud-item">
                <p class="hud-prefix">
                    Score
                </p>
                <h1 class="hud-main-text" id="score">
                    0
                </h1>
            </div>
        </div>

        <div class="question-container">
            {% if quiz[0].question is defined %}
                <h1 id="question">{{ quiz[0].question }}</h1>
            {% endif %}

            {% if quiz[0].option1 is defined %}
                <div class="choice-container">
                    <p class="choice-prefix">A</p>
                    <p class="choice-text" data-number="1">{{ quiz[0].option1 }}</p>
                </div>
            {% endif %}

            {% if quiz[0].option2 is defined %}
                <div class="choice-container">
                    <p class="choice-prefix">B</p>
                    <p class="choice-text" data-number="2">{{ quiz[0].option2 }}</p>
                </div>
            {% endif %}

            {% if quiz[0].option3 is defined %}
                <div class="choice-container">
                    <p class="choice-prefix">C</p>
                    <p class="choice-text" data-number="3">{{ quiz[0].option3 }}</p>
                </div>
            {% endif %}

            {% if quiz[0].option4 is defined %}
                <div class="choice-container"  >
                    <p class="choice-prefix">D</p>
                    <p class="choice-text" data-number="4">{{ quiz[0].option4 }}</p>
                </div>
            {% endif %}

        </div>

        <div class="question-container" style="display: none;">
            {% if quiz[1].question is defined %}
                <h1 id="question">{{ quiz[1].question }}</h1>
            {% endif %}

            {% if quiz[1].option1 is defined %}
                <div class="choice-container">
                    <p class="choice-prefix">A</p>
                    <p class="choice-text" data-number="1">{{ quiz[1].option1 }}</p>
                </div>
            {% endif %}

            {% if quiz[1].option2 is defined %}
                <div class="choice-container">
                    <p class="choice-prefix">B</p>
                    <p class="choice-text" data-number="2">{{ quiz[1].option2 }}</p>
                </div>
            {% endif %}

            {% if quiz[1].option3 is defined %}
                <div class="choice-container">
                    <p class="choice-prefix">C</p>
                    <p class="choice-text" data-number="3">{{ quiz[1].option3 }}</p>
                </div>
            {% endif %}

            {% if quiz[1].option4 is defined %}
                <div class="choice-container">
                    <p class="choice-prefix">C</p>
                    <p class="choice-text" data-number="3">{{ quiz[1].option4 }}</p>
                </div>
            {% endif %}


            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{{asset('js/game.js') }}"></script>
            <script src="{{asset('js/countdown.js') }}"></script>
</body>
</html>
