{% extends 'home/base.html.twig' %}
 
{% block title %}Evenement index{% endblock %}

{% block body %}
    <div class="container">
            <h2 class="text-center mt-5 mb-3">Les évènements</h2>
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('app_evenement_new') }}"><img src="{{ asset('/img/plus.png') }}" height="30" width="30" /></a>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Titre</th>
                            <th>Categorie</th>
                            <th>Adresse</th>
                            <th>Region</th>
                            <th>Date</th>
                            <th>Nombre de places</th>              
                            <th width="120px">Actions</th>                            
                        </tr>
                        {% for evenement in evenements %}
                        <tr>
                            <td>{{ evenement.titreEv }}</td>
                            <td>{{ evenement.categorieEv }}</td>
                            <td>{{ evenement.adresseEv }}</td>
                            <td>{{ evenement.region }}</td>
                            <td>{{ evenement.dateEv ? evenement.dateEv|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ evenement.nbrePlaces }}</td>
                            <td>
                                <form method="post" action="{{ path('app_evenement_delete', {'idEv': evenement.idEv}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet évènement ?');">
                                    <a href="{{ path('app_evenement_show', {'idEv': evenement.idEv}) }}"><img src="{{ asset('/img/show.jpg') }}" height="30" width="30" /></a>
                                    <a href="{{ path('app_evenement_edit', {'idEv': evenement.idEv}) }}"><img src="{{ asset('/img/crayon.png') }}" height="20" width="20" /></a>
                                    <a href="{{ path('app_evenement_delete', {'idEv': evenement.idEv}) }}"><img src="{{ asset('/img/trash.png') }}" height="20" width="20" /></a>    
                                </form>
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">no records found</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>    
{% endblock %}

