{% extends 'home/base.html.twig' %}

{% block body %}
    <div class="container">
            <h2 class="text-center mt-5 mb-3">Evenement</h2>
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-outline-info float-right" href="{{ path('app_evenement_index') }}"> 
                        Liste des évènements
                    </a>
                </div>
                <div class="card-body">
                <b class="text-muted">Titre:</b>
                <p>{{ evenement.titreEv }}</p>
                <b class="text-muted">Categorie:</b>
                <p>{{ evenement.categorieEv }}</p>
                <b class="text-muted">Description:</b>
                <p>{{ evenement.descriptionEv }}</p>
                <b class="text-muted">Date de l'évènement:</b>
                <p>{{  evenement.dateEv ? evenement.dateEv|date('Y-m-d H:i:s') : '' }}</p>
                <b class="text-muted">Localisation:</b>
                <p>{{ evenement.adresseEv }}</p>
                <b class="text-muted">Région:</b>
                <p>{{ evenement.region }}</p>
                <b class="text-muted">Nombres de places à réserver:</b>
                <p>{{ evenement.nbrePlaces }}</p>
                
                
            </div>
        </div>
    </div>

{% endblock %}
