<div class="card-body">
    <h5 class="card-title">Ajout cours</h5>

    <!-- General Form Elements -->
    {{ form_start(form) }}
    <div class="row mb-5">
        {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
        <div class="col-sm-6">
            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row mb-3">
        {{ form_label(form.question, 'Question', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
        <div class="col-sm-6">
            {{ form_widget(form.question, {'attr': {'class': 'form-select', 'aria-label': 'Default select example'}}) }}
        </div>
    </div>


    <div class="row mb-3">
        {{ form_label(form.option1, 'Level', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
        <div class="col-sm-6">
            {{ form_widget(form.option1, {'attr': {'class': 'form-select', 'aria-label': 'Default select example'}}) }}
        </div>
    </div>

    <div class="row mb-3">
        {{ form_label(form.option2,'Option2', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
        <div class="col-sm-6">
            {{ form_widget(form.option2, {'attr': {'class': 'form-control', 'type': 'file', 'id': 'formFile'}}) }}
        </div>
    </div>


    <div class="row mb-3">
        {{ form_label(form.option3, 'Option3', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
        <div class="col-sm-6">
            {{ form_widget(form.option3, {'attr': {'class': 'form-control', 'style': 'height: 100px'}}) }}
        </div>
    </div>

    <div class="row mb-5">
        {{ form_label(form.option4, 'option3', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
        <div class="col-sm-6">
            {{ form_widget(form.option4, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    </div>

    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
    </div>
{{ form_end(form) }}