{% extends 'base.html.twig' %}

{% block title %}ReponseAss{% endblock %}

{% block body %}
    <h1>ReponseAss</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdRepAss</th>
                <td>{{ reponse_ass.idRepAss }}</td>
            </tr>
            <tr>
                <th>TypeRepAss</th>
                <td>{{ reponse_ass.typeRepAss }}</td>
            </tr>
            <tr>
                <th>QueRepAss</th>
                <td>{{ reponse_ass.queRepAss }}</td>
            </tr>
            <tr>
                <th>DescriptionRepAss</th>
                <td>{{ reponse_ass.descriptionRepAss }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_ass_front_index') }}">back to list</a>

    <a href="{{ path('app_reponse_ass_front_edit', {'idRepAss': reponse_ass.idRepAss}) }}">edit</a>

    {{ include('reponse_ass_front/_delete_form.html.twig') }}
{% endblock %}
