{% extends 'basefront.html.twig' %}

{% block title %}QuestionAss{% endblock %}

{% block body %}
    <h1>QuestionAss</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdQAss</th>
                <td>{{ question_ass.idQAss }}</td>
            </tr>
            <tr>
                <th>TypeQAss</th>
                <td>{{ question_ass.typeQAss }}</td>
            </tr>
            <tr>
                <th>DescriptionQAss</th>
                <td>{{ question_ass.descriptionQAss }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_question_ass_front_index') }}">back to list</a>

    <a href="{{ path('app_question_ass_front_edit', {'idQAss': question_ass.idQAss}) }}">edit</a>

    {{ include('question_ass_front/_delete_form.html.twig') }}
{% endblock %}
